@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
$color_1: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 50px;
}
.button-wrap {
    background-color: #fa3707;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 6px;
}

.nomargin {

  margin-top: 20px;
}
.auth-wrap {
  background-image: url("../src/Assets/slider-home3-img1.jpeg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  
  .inner-wrap {
    position: relative;
    max-width: 422px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    .alert {
        position: relative;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
       
    }
   .auth-bttom {
        margin-top: 20px;
    }
    .alert-danger{
        margin-top: 20px;
        color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    }
    button{
        background-color: #0af7f7;
    border: 0;
    color: #fff;
    width: 100%;
    padding: 13px;
    font-size: 19px;
    border-radius: 6px;
    }
    small.text-danger {
        color: red;
    }
    .input-box {
        height: 52px;
       margin: 18px 0   ;;
        input {
            height: 100%;
            width: 100%;
            outline: none;
            padding: 0 15px;
            font-size: 17px;
            font-weight: 400;
            color: #333;
            border: 1.5px solid #C7BEBE;
            border-bottom-width: 2.5px;
            border-radius: 6px;
            transition: all 0.3s ease;
        }
    }
    h2 {
      position: relative;
      font-size: 22px;
      font-weight: 600;
      color: #333;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 28px;
        border-radius: 12px;
        background: #4070f4;
      }
    }
    .logo {
      text-align: center;
      img {
        max-width: 185px;
        width: 100%;
      }
    }
  }
}
.logo-details{
    img {
        max-width: 185px;
        width: 100%;
      } 
}

// sidebar


.sidebar {
	position: fixed;
	height: 100%;
	width: 240px;
	background: #1c3055;
	transition: all 0.5s ease;
	.logo-details {
		height: 80px;
        justify-content: center;
		display: flex;
		align-items: center;
		i {
			font-size: 28px;
			font-weight: 500;
			color: $color_1;
			min-width: 60px;
			text-align: center;
		}
		.logo_name {
			color: $color_1;
			font-size: 24px;
			font-weight: 500;
		}
	}
	.nav-links {
		margin-top: 10px;
		li {
			position: relative;
			list-style: none;
			height: 50px;
			a {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				text-decoration: none;
				transition: all 0.4s ease;
				&:hover {
					background: #081D45;
				}
				.links_name {
					color: $color_1;
					font-size: 15px;
					font-weight: 400;
					white-space: nowrap;
				}
			}
			a.active {
				background: #081D45;
			}
			i {
				min-width: 60px;
				text-align: center;
				font-size: 18px;
				color: $color_1;
			}
		}
		.log_out {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
}
.sidebar.active {
	width: 60px;
}

// dashboad
.wrap.welcome-txt {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.home-section {
    background-color: rgb(202, 235, 245);

    .d-wrap {
        background-color: rgb(202, 235, 245);
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
    .card{
        background: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding-top: 3rem;
    }
    .divbtn {
        margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    thead{td {
        font-weight: 600;
        text-transform: uppercase;
    }
    tr {
        background-color: lightgray;
    }}
    h2 {
        text-transform: capitalize;
        font-size: 27px;
    }
    td .btn {
        margin-right: 12px;
    }
    .home-section .divbtn {
        margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .divbtn .btn-success {
        background-color: #0b7e07;
        color: #fff;
        padding: 9px 10px;
        border-radius: 10px;
        text-decoration: none;
    }
    .grid {
        display: flex;
        .pet-grid {
            background-color: white;
    width: 48%;
    margin-right: 29px;
    display: flex;
    align-items: center;
    padding: 22px 38px;
    justify-content: space-between;
    border-radius: 25px;
    h4 {
        font-size: 35px;
        line-height: 35px;
    }
    p {
        font-size: 26px;
    }
        }
        .service-grid {
            background-color: white;
            width: 48%;
    display: flex;
    align-items: center;
    padding: 22px 38px;
    justify-content: space-between;
    border-radius: 25px;
    h4 {
        font-size: 35px;
        line-height: 35px;
    }
    p {
        font-size: 26px;
    }
        }
    }
    
	position: relative;
    background-color: rgb(202, 235, 245);
	min-height: 100vh;
	width: calc(100% - 240px);
	left: 240px;
	transition: all 0.5s ease;
	.menu {
		display: flex;
		justify-content: center;
		height: 80px;
		background: #fff;
		display: flex;
		align-items: center;
		position: fixed;
		width: calc(100% - 240px);
		left: 240px;
		z-index: 100;
		padding: 0 20px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		transition: all 0.5s ease;
	}
}
.sidebar {
	&.active {
		& ~ .home-section {
			width: calc(100% - 60px);
			left: 60px;
			nav {
				left: 60px;
				width: calc(100% - 60px);
			}
		}
	}
}

// Petcreate

.row form {
    padding-top: 7rem;
}
.container.petlist {
    padding-top: 7rem;
}
.pt-50 {
    padding-top: 7rem;
}

.create-card {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    padding-top: 27px !important;
    .card-title {
        h2 {
            text-align: center;
            margin-bottom: 26px;
            font-size: 23px;
            text-transform: capitalize;
            font-weight: 500;
        }
    }
    .details{
        p {
            margin-bottom: 17px;
            font-size: 18px;
        }
    }
}
.card-body{
    .col-lg-6 {
        width: 50%;
    }
}
.grid a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.listings .pt-50 {
    padding-top: 37px;
}
.form-group {
    button.btn.btn-success {
        max-width: 107px;
        width: 100%;
        margin: 10px 0;
        background-color: #2697FF;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 6px;
    }
    display: flex;
    margin: 0 9px;
    flex-direction: column;
    input{
        height: 46px;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
    }
}